html,
body{
  height: 100%;
}

body{
  font-size: 16px;
  line-height: 18px;
  @extend %dmsans-700;
  display: flex;
  flex-direction: column;
}
main{
  flex-grow: 1;
}
a{
  font-size: 16px;
  line-height: 18px;
  @extend %dmsans-700;
}

.container{
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.container2{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.title{
  @extend %dmsans-700;
  color: #141414;
  font-size: 36px;
  line-height: 42px;
}

.filter-title{
  text-transform: uppercase;
  @extend %dmsans-700;
  font-size: 18px;
  margin-bottom: 35px;
  color: $title;
  position: relative;
  cursor: default;
  & + .filter-title{
    padding-top: 50px;
  }
  &::after{
    content: "";
    position: absolute;
    background-image: url('../images/icons/filter-line-decor.svg');
    height: 2px;
    width: 38px;
    right: 0;
    top: 8px;
  }
}
.filter-item + .filter-item{
  margin-top: 50px;
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  &__list{
    display: flex;
  }
  &__item + .pagination__item{
    margin-left: 15px;
  }
  &__link{
    padding: 14px 20px;
    color: $title;
    transition: all .3s;
    border: 1px solid $default;
    @extend %rubik-400;
    font-size: 16px;
    &:hover{
      color: #fff;
      background-color: $default;
    }
  }
}
.pagination--active{
  color: #fff;
  background-color: $default;
}
.shop-content2 .pagination{
  margin-top: 0px;
  justify-content: flex-start;
}

