@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  padding-top: 50px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 32px;
  }
  &__list-link{
    @extend %rubik-500;
    color: $title;
    font-size: 15px;
    line-height: 12px;
  }
}

.user-nav{
  display: flex;
  align-items: center;
  &__link{
    position: relative;
  }

  &__link-search{
    padding: 18px 18px;
    background-color: #edf1f4;
    border-radius: 50%;
  }

  &__link-menu{
    padding: 15px 15px;
    background-color: $default;
    border-radius: 50%;
  }

  &__link-heart{
    padding: 22px 27px 13px 41px;
  }

  &__link-cart{
    padding: 22px 41px 13px 27px;
  }

  &__link-span{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
    color: $title;
    @extend %dmsans-400;
    font-size: 10px;
  }

  &__link-span1{
    top: 15px;
    right: 17px;
  }

  &__link-span2{
    top: 16px;
    right: 31px;
  }
}

.wrapper__user-center{
  display: flex;
  align-items: center;
  background-color:#fcd7b6;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 50px;
}

footer{
  list-style: none;
  .footer-top{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 70px;
    border-bottom: 1px solid #dae4e9;
    &__title{
      font-size: 16px;
      line-height: 18px;
      @extend %dmsans-700;
      margin-bottom: 25px;
      text-transform: uppercase;
    }
    &__contacts{
      margin-top: -18px;
    }
    &__logo img{
      margin-bottom: 35px;
    }
    &__contacts,
    &__services,
    &__account{
      max-width: 230px;
      /* margin-right: 70px; */
    }
    &__contacts-item,
    &__services-item,
    &__account-item,
    &__connect-item{
      margin-top: 15px;
    }
    &__contacts-link,
    &__services-link,
    &__account-link,
    &__connect-item{
      @extend %rubik-400;
      color: #7b7b7b;
      font-size: 14px;
      line-height: 24px;
      width: 265px;
    }
    &__connect{
      max-width: 270px;
    }
    &__form{
      display: flex;
      margin-top: 45px;
    }
    &__form-input{
      background-color: #fef7f0;
      max-width: 170px;
      width: 100%;
      border: none;
      padding: 12px 10px 12px 15px;
      @extend %dmsans-400;
      font-size: 16px;
      color: #234969;
      &::placeholder{
        color: #234969;
        @extend %dmsans-400;
        font-size: 12px;
      }
    }
    &__form-btn{
      border: none;
      background-color: #a3bbc8;
      color: #fff;
      padding: 12px 17px;
      @extend %dmsans-400;
      cursor: pointer;
    }
  }
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  &__copy{
    @extend %rubik-400;
    font-size: 14px;
    line-height: 32px;
    color: #234969;
    cursor: default;
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 270px;
  }
  &__item + .footer-bottom__item{
    margin-left: 30px;
  }
  &__item-home,
  &__item-about,
  &__item-blog{
    position: relative;
    &::after{
      content: "|";
      position: absolute;
      right: -18px;
      top: 6px;
      color: #234969;
    }
  }
  &__link{
    @extend %rubik-400;
    font-size: 14px;
    line-height: 32px;
    color: #234969;
  }
}

.slider-top{
  &__inner{
    padding-top: 85px;
    padding-bottom: 45px;
    background-color: #fcd7b6;
  }
  &__item{
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  &__content{
    vertical-align: middle;
  }
  &__title{
    max-width: 500px;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    color: $title;
  }
  &__text{
    max-width: 400px;
    @extend %rubik-400;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
    color: #436372;
  }
  &__btn{
    background-color: $default;
    color: #fff;
    padding: 23px 100px 23px 27px;
    position: relative;
    border-radius: 2px;
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/slider-top/slider-top-btnshape.png');
      background-repeat: no-repeat;
      background-size: cover;
      height: 11px;
      width: 28px;
      right: 18px;
      transform: translateY(50%);
    }
  }
}

.slick-dots{
  display: flex;
  justify-content: center;
  margin-top: 14px;
  li{
    padding: 0 10px;
    button{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: none;
      background-color: #fde3cc;
      color: #667983;
      @extend %rubik-500;
      font-size: 11px;
      line-height: 9px;
    }
    &.slick-active{
      button{
        background-color: #fff;
        color:$title;
      }
    }
  }
}

.slider-block{
  &__items{
    background-color: #fef7f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
  }
  &__item{
    padding-left: 80px;
    position: relative;
    height: 170px;
    max-width: 320px;
    padding-top: 31px;
    cursor: default;
  }
  &__item-first::after{
    content: '';
    position: absolute;
    background-image: url('../images/slider-top/slide-block-icon1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 58px;
    width: 55px;
    left: 0;
    top: 38px;
    bottom: 0;
  }
  &__item-second::after{
    content: '';
    position: absolute;
    background-image: url('../images/slider-top/slide-block-icon2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 46px;
    width: 68px;
    left: 0;
    top: 39px;
  }
  &__item-third::after{
    content: '';
    position: absolute;
    background-image: url('../images/slider-top/slide-block-icon3.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 54px;
    width: 56px;
    left: 0px;
    top: 47px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
  }
  &__text{
    @extend %dmsans-400;
    font-size: 18px;
    line-height: 30px;
    color: #585858;
  }
}


.products{
  &__wrapper{
    text-align: center;
  }
  &__nav{
    display: flex;
    justify-content: space-between;
    max-width: 380px;
    margin: 0 auto;
  }
  &__title{
    margin-top: 70px;
    margin-bottom: 35px;
    cursor: default;
  }
  &__nav-item{
    margin-bottom: 108px;
  }
  &__nav-link{
    @extend %dmsans-700;
    font-size: 16px;
    color: #8b8b8b;
    transition: all .3s;
    &:hover{
      color: #141414;
    }
  }
  &__nav-link.products__nav-link--active{
    color: #141414;
  }
  // ------------
  &__item{
    margin: 0 auto;
    text-align: center;
    min-width: 280px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 380px;
    height: 100%;
    padding-bottom: 35px;
    position: relative;
    border-radius: 5px;
  }
  &__list{
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-gap: 40px 29px;
    padding-bottom: 180px;
  }
  &__item-img{
    margin-top: auto;
    margin-bottom: auto;
  }
  &__item-text{
    @extend %dmsans-500;
    color: $title;
    font-size: 16px;
    line-height: 18px;
    cursor: default;
  }
  &__item-price{
    @extend %dmsans-700;
    color: $default;
    font-size: 16px;
    line-height: 18px;
    margin-top: 10px;
    cursor: default;
  }
  &__hover-wrapper{
    opacity: 0;
    transition: all .3s;
  }
  &__item:hover .products__hover-wrapper{
    opacity: 1;
  }
  &__hover-inner{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 140px;
    left: 56px;
  }
  &__hover-img1{
    padding: 13px;
    border-radius: 50%;
    background-color: #fff;
  }
  &__hover-img2{
    background-color: $default;
    padding: 13px;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
  }
  &__hover-img3{
    padding: 13px;
    border-radius: 50%;
    background-color: #fff;
  }
}


.about{
  padding-bottom: 90px;
  &__inner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  &__item{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #feefe2;
    max-height: 390px;
    height: 100%;
    padding-bottom: 100px;
  }
  &__box-info{
    max-width: 350px;
    margin-left: 30px;
    margin-bottom: 10px;
  }
  &__title{
    @extend %dmsans-700;
    color: $title;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 22px;
    cursor: default;
  }
  &__text{
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $title;
    margin-bottom: 48px;
    cursor: default;
  }
  &__link{
    padding: 22px 87px 22px 30px;
    border: 1px solid #b3b7b5;
    border-radius: 6px;
    position: relative;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #436372;
    transition: all .3s;
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/content/about/arrow-right.svg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 9px;
      width: 23px;
      top: 27px;
      right: 20px;
    }
    &:hover{
      background-color: #fff;
    }
  }
}

.design{
  padding-bottom: 120px;
  &__title{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    @extend %dmsans-700;
    font-size: 36px;
    color: #1a1a1a;
    cursor: default;
  }
  &__list{
    display: flex;
    justify-content: center;
  }
  &__item-link{
    @extend %dmsans-700;
    font-size: 16px;
    color: #8b8b8b;
    transition: all .3s;
    
    &:hover{
      color: #1a1a1a;
    }
  }
  &__item{
    margin-bottom: 75px;
  }
  &__item-link--active{
    color: #1a1a1a;
  }
  &__item + .design__item{
    margin-left: 30px;
  }
  

  &__product-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  &__product-item{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 245px;
    border-radius: 5px;
    span{
      @extend %dmsans-700;
      font-size: 16px;
      color: $default;
      margin-left: 35px;
      cursor: default;
    } 
  }
  &__product-text{
    max-width: 200px;
    @extend %dmsans-700;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    margin-top: 35px;
    margin-left: 35px;
    margin-bottom: 12px;
    cursor: default;
  }
}

.video{
  background-image: url('../images/content/video/video-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.idea{
  &__box-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
  }
  &__title{
    @extend %dmsans-700;
    color: #1a1a1a;
    font-size: 36px;
    line-height: 40px;
    cursor: default;
  }
  &__title-link{
    padding-right: 23px;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 21px;
    color: #262626;
    position: relative;
    margin-right: 11px;
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/content/idea/arrow-right.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      height: 11px;
      width: 6px;
      right: 0;
      top: 4.5px;
    }
  }

  &__items{
    display: flex;
    justify-content: space-between;
    margin-bottom: -180px;
  }
  &__item{
    min-height: 420px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 8px;
    background-color: #fff;
    cursor: default;
  }
  &__item-img{
    max-width: 370px;
    width: 100%;
  }
  &__item-wrapper{
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 32px;
    position: relative;
  }
  &__item-subtext{
    position: absolute;
    top: -19px;
    padding: 10px 31px;
    background-color: $default;
    color: #fff;
    border-radius: 50px;
  }
  &__item-text{
    min-height: 65px;
    max-width: 315px;
    @extend %dmsans-500;
    font-size: 18px;
    line-height: 21px;
    color: #262626;
    margin-top: 35px;
    padding-bottom: 5px;
  }
  &__item-databox{
    display: flex;
    @extend %rubik-400;
    font-size: 12px;
    color: #222933;
    padding: 22px 0;
    border-top: 1px solid #e0e0e0;
  }
  &__item-data{
    margin-right: 30px;
  }
}


.partners{
  background-color: #fef7f0;
  padding-top: 260px;
  padding-bottom: 90px;
  &__list{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item{
    min-height: 100px;
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__item + .partners__item{
    padding-left: 95px;
  }
}


@import 'media';  