@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
  padding-top: 50px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 32px;
  }
  &__list-link{
    @extend %rubik-500;
    color: #243f4d;
    font-size: 15px;
    line-height: 12px;
  }
}

.user-nav{
  display: flex;
  align-items: center;
  &__link{
    position: relative;
  }

  &__link-search{
    padding: 18px 18px;
    background-color: #edf1f4;
    border-radius: 50%;
  }

  &__link-menu{
    padding: 15px 15px;
    background-color: $default;
    border-radius: 50%;
  }

  &__link-heart{
    padding: 22px 27px 13px 41px;
  }

  &__link-cart{
    padding: 22px 41px 13px 27px;
  }

  &__link-span{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
    color: #243f4d;
    @extend %dmsans-400;
    font-size: 10px;
  }

  &__link-span1{
    top: 15px;
    right: 17px;
  }

  &__link-span2{
    top: 16px;
    right: 31px;
  }
}

.wrapper__user-center{
  display: flex;
  align-items: center;
  background-color:#fcd7b6;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 50px;
}

footer{
  list-style: none;
  .footer-top{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 70px;
    border-bottom: 1px solid #dae4e9;
    &__title{
      font-size: 16px;
      line-height: 18px;
      @extend %dmsans-700;
      margin-bottom: 25px;
      text-transform: uppercase;
    }
    &__contacts{
      margin-top: -18px;
    }
    &__logo img{
      margin-bottom: 35px;
    }
    &__contacts,
    &__services,
    &__account{
      max-width: 230px;
      /* margin-right: 70px; */
    }
    &__contacts-item,
    &__services-item,
    &__account-item,
    &__connect-item{
      margin-top: 15px;
    }
    &__contacts-link,
    &__services-link,
    &__account-link,
    &__connect-item{
      @extend %rubik-400;
      color: #7b7b7b;
      font-size: 14px;
      line-height: 24px;
      width: 265px;
    }
    &__connect{
      max-width: 270px;
    }
    &__form{
      display: flex;
      margin-top: 45px;
    }
    &__form-input{
      background-color: #fef7f0;
      max-width: 170px;
      width: 100%;
      border: none;
      padding: 12px 10px 12px 15px;
      @extend %dmsans-400;
      font-size: 16px;
      color: #234969;
      &::placeholder{
        color: #234969;
        @extend %dmsans-400;
        font-size: 12px;
      }
    }
    &__form-btn{
      border: none;
      background-color: #a3bbc8;
      color: #fff;
      padding: 12px 17px;
      @extend %dmsans-400;
      cursor: pointer;
    }
  }
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  &__copy{
    @extend %rubik-400;
    font-size: 14px;
    line-height: 32px;
    color: #234969;
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item + .footer-bottom__item{
    margin-left: 30px;
  }
  &__item-home,
  &__item-about,
  &__item-blog{
    position: relative;
    &::after{
      content: "|";
      position: absolute;
      right: -18px;
      top: 6px;
      color: #234969;
    }
  }
  &__link{
    @extend %rubik-400;
    font-size: 14px;
    line-height: 32px;
    color: #234969;
  }
}








@import 'media';